Offer_Expiration_Alert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>

<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <decisions>
        <name>Check_Offer_Eligibility</name>
        <label>Check Offer Eligibility</label>
        <locationX>456</locationX>
        <locationY>300</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pre_Existence_of_Offer</name>
            <conditionLogic>1 OR 2 OR 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Days_Until_Expiration__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Days_Until_Expiration__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Days_Until_Expiration__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pre_Offer_Expiration_Email_Message_Alert</targetReference>
            </connector>
            <label>Pre Existence of Offer</label>
        </rules>
        <rules>
            <name>Expired_Offer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Days_Until_Expiration__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>-1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Expired_Offer_Email_Alert</targetReference>
            </connector>
            <label>Expired Offer</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Offer Expiration Alert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Offer Expiration Alert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Expired_Offer_Email_Alert</name>
        <label>Expired Offer Email Alert</label>
        <locationX>684</locationX>
        <locationY>369</locationY>
        <inputAssignments>
            <field>Flow_Based_Email__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <elementReference>FromAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <elementReference>FromName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>ExpiredOfferBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>ExpiredOfferSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.Parent_Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Pre_Offer_Expiration_Email_Message_Alert</name>
        <label>Pre Offer Expiration Email Message Alert</label>
        <locationX>192</locationX>
        <locationY>408</locationY>
        <inputAssignments>
            <field>Flow_Based_Email__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <elementReference>FromAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <elementReference>FromName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.Parent_Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>330</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_Offer_Eligibility</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>Offer_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accepted via Lottery</stringValue>
            </value>
        </filters>
        <filters>
            <field>Days_Until_Expiration__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Days_Until_Expiration__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Days_Until_Expiration__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Days_Until_Expiration__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>-1.0</numberValue>
            </value>
        </filters>
        <object>Waitlist_School_Ranking__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-03-02</startDate>
            <startTime>23:20:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear Parent/Guardian:&lt;/p&gt;&lt;p&gt;This email is to notify you that {!$Record.Student__r.Student_First_Name__c}’s offer to attend {!$Record.Wsr_Program__r.Name} will expire on {!$Record.Expiration_Date_Only__c}. Please log into Enroll Austin to accept or decline this offer and complete the Annual Forms if you have not done so. We wish you and {!$Record.Student__r.Student_First_Name__c} all the best for the upcoming school year! If you have any questions or need assistance, please contact your student’s campus or call the Enrollment Services Support Line at 512-414-7328.&lt;/p&gt;&lt;p&gt;Best Regards,&lt;/p&gt;&lt;p&gt;Austin ISD&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Your Offer for Placement in Austin ISD is Expiring</text>
    </textTemplates>
    <textTemplates>
        <name>ExpiredOfferBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear Parent/Guardian:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;This email is to notify you that {!$Record.Student__r.Student_First_Name__c}’s offer to attend {!$Record.Wsr_Program__r.Name} has now expired and been declined by the system since no response was received within the allotted days to accept a seat. {!$Record.Student__r.Student_First_Name__c} will no longer be considered for {!$Record.Wsr_Program__r.Name} in the {!$Record.Wsr_Application__r.App_Round_Application__r.Application_School_Year__r.Name} school year.&lt;/p&gt;&lt;p&gt;If you choose to reapply to {!$Record.Wsr_Program__r.Name}, the application will be based on the re-submitted date. Your application will be processed after all applications with earlier submission dates. If you have any questions or need assistance, please call the Enrollment Services Support Line at 512-414-7328.&lt;/p&gt;&lt;p&gt;We wish you and {!$Record.Student__r.Student_First_Name__c} all the best for the upcoming school year!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best Regards,&lt;/p&gt;&lt;p&gt;Austin Independent School District&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ExpiredOfferSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Your Offer for Placement in Austin ISD for {!$Record.Student__r.Student_First_Name__c} has expired.</text>
    </textTemplates>
    <variables>
        <name>FromAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Label.Org_Wide_Address</elementReference>
        </value>
    </variables>
    <variables>
        <name>FromName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Label.Org_Wide_Address_Display_Name</elementReference>
        </value>
    </variables>
</Flow>
